@{
    Layout = "_Layout";
}
<div class="layout-content-container flex flex-col max-w-[960px] flex-1 mx-auto py-10">
    <h1 class="text-[#181111] tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6">@ViewBag.Title - Yakında Eklenecek</h1>
</div>
